@model saml.Saml.PostModel
@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>SAML Post</title>
</head>

<body>
    <form method="post" action="@Model.AcsUrl">
        <input type="hidden" name="SAMLResponse" value="@Model.SamlResponse" />
        @if (!string.IsNullOrEmpty(Model.RelayState))
        {
            <input type="hidden" name="RelayState" value="@Model.RelayState" />
        }
        <noscript>
            <button type="submit">Continue</button>
        </noscript>
    </form>
    <script>document.forms[0].submit();</script>
</body>

</html>